.add-car-container {
    max-width: 600px; /* Adjust as needed */
    margin: auto; /* Center the container */
    padding: 20px; /* Adjust padding */
}

.add-car-container h2 {
    margin-top: 150px; /* Adjust margin top */
    font-size: 24px; /* Increased font size */
}

.add-car-form label {
    margin-bottom: 4px; /* Reduced margin bottom for labels */
    font-size: 16px; /* Increased font size for labels */
    display: block; /* Ensure each label is on a new line */
}

.add-car-form input[type="text"],
.add-car-form input[type="number"],
.add-car-form input[type="file"] {
    width: calc(100% - 16px); /* Adjust width */
    padding: 8px; /* Adjust padding */
    font-size: 14px; /* Increased font size for form inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 4px; /* Reduced margin bottom for form inputs */
}

.add-car-form button {
    width: 100%;
    padding: 10px; /* Adjust padding */
    font-size: 16px; /* Increased font size for button */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-car-form button:hover {
    background-color: #0056b3;
}
